# Release builds, secrets, etc.
bottlecast-upload-keystore.jks

# Built application files
*.apk
*.aab
*.ap_
*.dex
/build
/*/build
/release/output.json
/debug/output.json

# release files
# these are stored securely, separately from the repo
/message-bottle-release.jks
/properties.properties

# Gradle files
.gradle/
gradle-app.setting

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio captures folder
captures/

# IntelliJ
.idea
*.iml

# OSX
.DS_Store

# Firebase
google-services.json
app/google-services.json